extends layout

block content
  h1= title
  ul
    each blog in blogs
      li
        h2= blog.title
        p= blog.text
        p.createdOn= "Created on: #{blog.createdOn}"
        a(href='/blog/edit/#{blog._id}') Edit  
        a(href='/blog/delete/#{blog._id}')   Delete